.leadMagnet {
    border: transparent;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    margin-bottom: 30px;
}
.leadMagnetPreTitle{
    text-align: center;
}
.leadMagnetContent {
    padding: 10px;
    border-radius: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,0.9640231092436975) 49%, rgba(0,212,255,1) 100%);
}

.leadMagnet h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.leadMagnet p {
    font-size: 16px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .leadMagnet {
        width: 90%;
    }

    .leadMagnet h2 {
        font-size: 20px;
    }

    .leadMagnet p {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .leadMagnet {
        width: 90%;
    }

    .leadMagnet h2 {
        font-size: 18px;
    }

    .leadMagnet p {
        font-size: 12px;
    }
}