.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.link {
    margin-right: 15px;
}

@media (max-width: 768px) {
    .container {
        margin-bottom: 15px;
    }

    .link {
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    .container {
        margin-bottom: 10px;
    }

    .link {
        margin-right: 5px;
    }
}