.container {
    margin-bottom: 50px;
    width: 90%;
}

.faqQuestion {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.faqAnswer {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    font-style: italic;
}

.faqAnswer.active {
    display: block;
}

@media (max-width: 768px) {
    .container {
        margin-bottom: 30px;
    }

    .faqQuestion {
        width: 90%;
    }

    .faqAnswer {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .container {
        margin-bottom: 20px;
    }

    .faqQuestion {
        width: 100%;
    }

    .faqAnswer {
        width: 100%;
    }
}