.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto 100px;
}

.brief {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.briefPreTitle {
    padding: 20px 150px;
}
@media (max-width: 768px) {
    .container{
        width: 90%;
    }
    .brief {
        padding: 20px;
    }
    .briefPreTitle {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .container {
        margin-bottom: 50px;
    }

    .brief {
        padding: 10px;
    }

    .briefPreTitle {
        padding: 10px;
    }
}