.animatedButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease-in-out; /* Забезпечує плавну анімацію збільшення */
}
.animatedButton:hover {
     transform: scale(1.1); /* При наведенні збільшуємо розмір кнопки */
 }
.advantages_wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    gap: 14px;
}
.advantages_item {
    border: 1px solid black;
    background: #fff;
    border-radius: 25px;
    height: 150px;
    padding: 25px;
    width: calc(33.33333334% - 70px);
    display: flex;
    flex-wrap: wrap;
    transition: .5s;
}
