.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.advantagesWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.advantagesItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    height: 150px;
    padding: 25px;
    transition: .5s;
}
.advantagesItem:hover{
    background-color: darkgrey;
    color: aliceblue;
}
.advantageText {
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .advantagesWrap {
        grid-template-columns: 1fr;
    }

    .advantagesItem {
        height: auto;
        padding: 15px;
        text-align: center;
    }
}
