.navBar{
    background-color: white;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

@media (max-width: 768px) {
    .navBar{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 576px) {
    .navBar{
        grid-template-columns: repeat(1, 1fr);
    }
}