.myInput{
    width: 100%;
    padding: 5px 15px;
    border: 1px solid rgb(100, 100, 100);
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 24px;
}
.myInputErr{
    border: 1px solid red;
}